*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    
}
/*Container*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
}
/*Header*/
.header{
    
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #0a0a0a;
}

/*Navigation*/
.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link{
    margin-left: 50px;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}
.nav__link:first-child{
    margin-left: 0;
}
.nav__link:hover{
    text-decoration: underline;
    opacity: 1;
}

/*Switcher*/
.header__theme{

}
.header__theme:hover{
    cursor: pointer;
}

/*Content*/
.content{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    
}
.content__item{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 40px;
}