*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: inherit;
}

button {
    background: none;
    border: none;
    padding: 0;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;

}
/*Container*/
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}
/*Header*/
.header{
    position: fixed;
    top: 15px;
    display: flex;
}

.header__menu{
    position: relative;
    display: inline-block;
    margin-left: 30px;
}
.header__menu-categories{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.header__menu-categories a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header__menu-categories a:hover{background-color: #ddd;}
.header__menu:hover .header__menu-categories{display: block;}

.main{
    flex: 1 1 auto;
}
/*Navigation*/
.nav{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link{
    margin-left: 50px;
    text-decoration: none;
    
    transition: opacity .1s linear;
}
.nav__link:first-child{
    margin-left: 0;
}
.nav__link:hover{
    text-decoration: underline;
    opacity: 1;
}

/*Switcher*/
.header__theme{
    position: fixed;
    display: flex;
    top: 15px;
    right: 30px;
}
.header__theme:hover{
    cursor: pointer;
}

/*Content*/
.content{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
}
.content__name{
    margin-top: 20px;
    text-align: center;
}
.content__item{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 40px;
    padding: 20px;
    width: 340px;
}

.content__item span{
    max-width: 300px;
    font-weight: 600;
    text-decoration: wavy;
    text-transform: uppercase;
    margin-top: 10px;
}

.item__btn{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.footer{
    margin-top: 40px;
    background: #4676D7;
}

.footer__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    
}